name: Build

on:
  push:
    branches:
      - main

jobs:
  TSC:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Restore CI Cache
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.os }}-12-${{ hashFiles('**/yarn.lock') }}
    - name: Install Dependencies
      run: yarn
    - name: Build and Push
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        #!/bin/bash
        set -euxo pipefail
        echo -e "\n# Initialize some useful variables"
        REPO="https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
        BRANCH_OR_TAG=`awk -F/ '{print $2}' <<< $GITHUB_REF`
        CURRENT_BRANCH=`awk -F/ '{print $NF}' <<< $GITHUB_REF`
        if [ "$BRANCH_OR_TAG" == "heads" ]; then
          SOURCE_TYPE="branch"
        else
          SOURCE_TYPE="tag"
        fi
        echo -e "\n# Checkout the repo in the target branch"
        TARGET_BRANCH="build"
        git clone $REPO out -b $TARGET_BRANCH
        yarn build
        echo -e "\n# Move the generated docs to the newly-checked-out repo, to be committed and pushed"
        mv package.json out/package.json
        rsync -vau dist out/
        echo -e "\n# Commit and push"
        cd out
        git add --all .
        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git commit -m "TSC build: ${GITHUB_SHA}" || true
        git push origin $TARGET_BRANCH
      env:
        GITHUB_TOKEN: ${{ secrets.PENGU_SECRET }}